<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background: aqua;">
    <table border="1" width="80%" align="center" text-align="center" cellspacing=0>
        <thead>
            <tr>
                <th>Name</th>
                <th>Capital</th>
                <th>Borders</th>
                <th>Flag</th>
            </tr>
        </thead>
        <tbody>
            {% for i in api %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.capital}}</td>
                    <td>{{i.borders}}</td>
                    <td><img src="{{i.flag}}" height="100px" width="200px"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>