<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body style="background: pink;">
    <h1>This is my HTML page using Django</h1>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>BS</li>
        <li>JS</li>
        <li>PYTHON</li>
        <li>DJANGO</li>
    </ul>
    <!-- {{color}} -->
    <!-- {% for i in color %}
        {{i}}
    {% endfor %} -->
    <h1>{{str}}</h1>
    <table border="1" width="50%" align="center">
        <thead>
            <tr>
                <th>Color Name</th>
                <th>Color</th>
            </tr>
        </thead>
        <tbody>
            {% for i in color %}
                <tr>
                    <td>{{i}}</td>
                    <td>
                        <div style="height: 50px; width: 100%; background: {{i}};"></div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>